.main-layout {
  background-color: white;
  // padding: 1%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

// .full-layout {
//   box-sizing: border-box;
//   border-radius: 60px;
//   box-shadow: 0 20px 10px rgba(131, 120, 131, 0.5),
//     /* Bottom shadow */ -20px 0 10px rgba(131, 120, 131, 0.5),
//     /* Left shadow */ 0 -20px 10px rgba(131, 120, 131, 0.5),
//     /* Top shadow */ 20px 0 10px rgba(131, 120, 131, 0.5); /* Right shadow (optional) */
// }
// td,
// th {
//   width: 120px;
// }


// to modifiy the paginator buttons shape
::ng-deep button.p-ripple.p-element.p-paginator-next.p-paginator-element.p-link {
  rotate: 180deg !important;
}

::ng-deep button.p-ripple.p-element.p-paginator-last.p-paginator-element.p-link.ng-star-inserted {
  rotate: 180deg !important;
}

::ng-deep button.p-ripple.p-element.p-paginator-first.p-paginator-element.p-link.ng-star-inserted.p-disabled {
  rotate: 180deg !important;
}

::ng-deep button.p-ripple.p-element.p-paginator-first.p-paginator-element.p-link.ng-star-inserted {
  rotate: 180deg !important;
}

::ng-deep button.p-ripple.p-element.p-paginator-prev.p-paginator-element.p-link.p-disabled {
  rotate: 180deg !important;
}

::ng-deep button.p-ripple.p-element.p-paginator-prev.p-paginator-element.p-link {
  rotate: 180deg !important;
}

//
