.main-layout {
  background-color: white;
  // padding: 1%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

// .full-layout {
//   box-sizing: border-box;
//   border-radius: 60px;
//   box-shadow: 0 20px 10px rgba(131, 120, 131, 0.5),
//     /* Bottom shadow */ -20px 0 10px rgba(131, 120, 131, 0.5),
//     /* Left shadow */ 0 -20px 10px rgba(131, 120, 131, 0.5),
//     /* Top shadow */ 20px 0 10px rgba(131, 120, 131, 0.5); /* Right shadow (optional) */
// }
// td,
// th {
//   width: 120px;
// }
